#share-buttons img {
  width: 35px;
  padding: 3px;
  border: 0;
  box-shadow: 0;
  /* display: inline; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 0;
  /* background-color: brown; */
}

#share-buttons {
  /* letter-spacing: 1px; */
  font-size: 11px;
  position: fixed;
  bottom: 15px;
  width: 35px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 0;
  /* background-color: brown; */
}

@media screen and (max-width: 992px) {
  #share-buttons {
    /* letter-spacing: 1px; */
    font-size: 11px;
    position: fixed;
    bottom: 15px;
    width: 100%;
    margin: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
  }
}

/* On screens that are 600px or less, set the background color to olive */
/* @media screen and (max-width: 600px) {
} */
